:root{
    background-color: #DBFFF7;
}

h1{
    font-family: Georgia;
    text-align: center;
    padding-top: 10px;
}

h2{
    font-size: x-large;
    text-align: center;
}

header{
    background-color: #007bff;
    border-radius: 10px;
}

a{
    color: white;
    text-decoration: none;
    font-size: larger;
}

a:hover{
    color: #E6456F;
}

#contenido{
    padding: 20px 20px 20px 20px;
}

section p{
    font-size: medium;
    color: #2D165F;
    text-align: center;
}

footer p{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

ul{
   text-align: center;
}