:root{
    background-color: #DBFFF7;
}

h1{
    font-family: Helvetica;
}

h2{
    font-size: large;
}

header{
    background-color: #007bff;
}

 header nav{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #E6456F;
}

#contenido{
    padding: 20px 20px 20px 20px;
}

section p{
    font-size: medium;
    color: #2D165F;
}

footer p{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
